Repository openCoreEMR/oce-module-sinch-fax: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

composer-validate:
  name: Validate composer.json
  entry: composer validate --strict
  language: system
  pass_filenames: false

composer-normalize:
  name: Normalize composer.json
  entry: composer normalize --dry-run
  language: system
  pass_filenames: false

composer-require-checker:
  name: Composer Require Checker
  entry: composer run-script require-checker
  language: system
  pass_filenames: false

fix: widen psr/http-message constraint to ^1.1 || ^2.0 (#101)
  .github/workflows/openemr-compat.yml
  composer.json
Due: composer-validate, composer-normalize, composer-require-checker

docs(sinch): record live Sinch API trials and synthesized findings
  docs/sinch/api-trials/README.md
  docs/sinch/api-trials/outputs/probe_01_output.log
  docs/sinch/api-trials/outputs/probe_01b_output.log
  docs/sinch/api-trials/outputs/probe_01b_output_camelcase.log
  docs/sinch/api-trials/outputs/probe_01c_output.log
  docs/sinch/api-trials/outputs/probe_02_output.log
  docs/sinch/api-trials/outputs/probe_03_output.log
  docs/sinch/api-trials/outputs/probe_04_output.log
  docs/sinch/api-trials/outputs/probe_04b_output.log
  docs/sinch/api-trials/outputs/probe_04c_output.log
  docs/sinch/api-trials/outputs/probe_05_output.log
  docs/sinch/api-trials/outputs/probe_06_output.log
  docs/sinch/api-trials/scripts/probe_01_subproject.py
  docs/sinch/api-trials/scripts/probe_01b_subproject_delete.py
  docs/sinch/api-trials/scripts/probe_01c_bearer_delete.py
  docs/sinch/api-trials/scripts/probe_02_access_key.py
  docs/sinch/api-trials/scripts/probe_03_fax_service.py
  docs/sinch/api-trials/scripts/probe_04_number_search.py
  docs/sinch/api-trials/scripts/probe_04c_active_numbers_and_inventory.py
  docs/sinch/api-trials/scripts/probe_05_number_requirements.py
  docs/sinch/api-trials/scripts/probe_06_rent_and_release.py
Due: none

ci: migrate to reusable release-please workflow
  .github/workflows/release-please.yml
  release-please-config.json
Due: none

ci: migrate to reusable release-please workflow (#110)
  .github/workflows/release-please.yml
  release-please-config.json
Due: none

style: add declare(strict_types=1) per Rector
  src/ConfigAccessorInterface.php
  src/Console/Command/AbstractModuleCommand.php
  src/Console/Command/ModuleDisableCommand.php
  src/Console/Command/ModuleEnableCommand.php
  src/Console/Command/ModuleInstallCommand.php
  src/Console/Command/ModuleInstallEnableCommand.php
  src/Console/Command/ModuleListCommand.php
  src/Console/Command/ModuleRegisterCommand.php
  src/Console/Command/ModuleUnregisterCommand.php
  src/Controller/FaxDownloadController.php
  src/Controller/FaxListController.php
  src/Exception/FaxAccessDeniedException.php
  src/Exception/FaxApiException.php
  src/Exception/FaxConfigurationException.php
  src/Exception/FaxException.php
  src/Exception/FaxExceptionInterface.php
  src/Exception/FaxNotFoundException.php
  src/Exception/FaxUnauthorizedException.php
  src/Exception/FaxValidationException.php
  src/GlobalsAccessor.php
Due: composer-require-checker

feat!: require PHP 8.5+
  .github/workflows/composer-normalize.yml
  .github/workflows/composer-require-checker.yml
  .github/workflows/composer-validate.yml
  .github/workflows/openemr-compat.yml
  .github/workflows/php-syntax-check.yml
  .github/workflows/phpcs.yml
  .github/workflows/phpstan.yml
  .github/workflows/rector.yml
  .github/workflows/tests.yml
  DEVELOPMENT.md
  README.md
  composer.json
  phpcs.xml
  phpstan.neon
  tests/README.md
Due: composer-validate, composer-normalize, composer-require-checker

ci: grant conventional-pr-title workflow pull-requests:read
  .github/workflows/conventional-pr-title.yml
Due: none

ci: grant conventional-pr-title workflow pull-requests:read (#111)
  .github/workflows/conventional-pr-title.yml
Due: none

ci: unset OpenEMR platform.php in compat dry-run
  .github/workflows/openemr-compat.yml
Due: none

ci: ignore PHP platform req in OpenEMR compat dry-run
  .github/workflows/openemr-compat.yml
Due: none

feat!: drop PHP < 8.5, fix failing Rector on main (#112)
  .github/workflows/composer-normalize.yml
  .github/workflows/composer-require-checker.yml
  .github/workflows/composer-validate.yml
  .github/workflows/openemr-compat.yml
  .github/workflows/php-syntax-check.yml
  .github/workflows/phpcs.yml
  .github/workflows/phpstan.yml
  .github/workflows/rector.yml
  .github/workflows/tests.yml
  DEVELOPMENT.md
  README.md
  composer.json
  phpcs.xml
  phpstan.neon
  src/ConfigAccessorInterface.php
  src/Console/Command/AbstractModuleCommand.php
  src/Console/Command/ModuleDisableCommand.php
  src/Console/Command/ModuleEnableCommand.php
  src/Console/Command/ModuleInstallCommand.php
  src/Console/Command/ModuleInstallEnableCommand.php
  src/Console/Command/ModuleListCommand.php
  src/Console/Command/ModuleRegisterCommand.php
  src/Console/Command/ModuleUnregisterCommand.php
  src/Controller/FaxDownloadController.php
  src/Controller/FaxListController.php
  src/Exception/FaxAccessDeniedException.php
  src/Exception/FaxApiException.php
  src/Exception/FaxConfigurationException.php
  src/Exception/FaxException.php
  src/Exception/FaxExceptionInterface.php
  src/Exception/FaxNotFoundException.php
  src/Exception/FaxUnauthorizedException.php
  src/Exception/FaxValidationException.php
  src/GlobalsAccessor.php
  tests/README.md
Due: composer-validate, composer-normalize, composer-require-checker

ci: migrate to reusable PHP CI workflows
  .github/workflows/actionlint.yml
  .github/workflows/composer-normalize.yml
  .github/workflows/composer-require-checker.yml
  .github/workflows/composer-validate.yml
  .github/workflows/conventional-pr-title.yml
  .github/workflows/dclint.yml
  .github/workflows/hadolint.yml
  .github/workflows/php-syntax-check.yml
  .github/workflows/phpcs.yml
  .github/workflows/phpstan.yml
  .github/workflows/rector.yml
  .github/workflows/tests.yml
Due: none

ci: add paths filters to caller workflows
  .github/workflows/composer-normalize.yml
  .github/workflows/composer-require-checker.yml
  .github/workflows/composer-validate.yml
  .github/workflows/dclint.yml
  .github/workflows/hadolint.yml
  .github/workflows/php-syntax-check.yml
  .github/workflows/phpcs.yml
  .github/workflows/phpstan.yml
  .github/workflows/rector.yml
  .github/workflows/tests.yml
Due: none

ci: migrate to reusable PHP CI workflows (#113)
  .github/workflows/actionlint.yml
  .github/workflows/composer-normalize.yml
  .github/workflows/composer-require-checker.yml
  .github/workflows/composer-validate.yml
  .github/workflows/conventional-pr-title.yml
  .github/workflows/dclint.yml
  .github/workflows/hadolint.yml
  .github/workflows/php-syntax-check.yml
  .github/workflows/phpcs.yml
  .github/workflows/phpstan.yml
  .github/workflows/rector.yml
  .github/workflows/tests.yml
Due: none

ci: invoke require-checker via composer script
  .github/workflows/composer-require-checker.yml
Due: none

ci: broaden paths filters that were too narrow
  .github/workflows/php-syntax-check.yml
  .github/workflows/phpcs.yml
  .github/workflows/tests.yml
Due: none

ci: bump reusable workflows pin to 0.0.4
  .github/workflows/actionlint.yml
  .github/workflows/composer-normalize.yml
  .github/workflows/composer-require-checker.yml
  .github/workflows/composer-validate.yml
  .github/workflows/conventional-pr-title.yml
  .github/workflows/dclint.yml
  .github/workflows/hadolint.yml
  .github/workflows/php-syntax-check.yml
  .github/workflows/phpcs.yml
  .github/workflows/phpstan.yml
  .github/workflows/rector.yml
  .github/workflows/tests.yml
Due: none

ci: invoke require-checker via composer script (#114)
  .github/workflows/actionlint.yml
  .github/workflows/composer-normalize.yml
  .github/workflows/composer-require-checker.yml
  .github/workflows/composer-validate.yml
  .github/workflows/conventional-pr-title.yml
  .github/workflows/dclint.yml
  .github/workflows/hadolint.yml
  .github/workflows/php-syntax-check.yml
  .github/workflows/phpcs.yml
  .github/workflows/phpstan.yml
  .github/workflows/rector.yml
  .github/workflows/tests.yml
Due: none

test(phpunit): convert @dataProvider docblock to #[DataProvider] attribute
  tests/Unit/Client/SinchFaxClientTest.php
Due: none

build(deps): widen symfony/event-dispatcher constraint to ^7.0 || ^8.0
  composer.json
Due: composer-validate, composer-normalize, composer-require-checker

build(deps): widen symfony/console constraint to ^7.0 || ^8.0
  composer.json
Due: composer-validate, composer-normalize, composer-require-checker

build(deps): widen symfony/http-foundation constraint to ^7.0 || ^8.0
  composer.json
Due: composer-validate, composer-normalize, composer-require-checker

build(deps): widen symfony/yaml constraint to ^7.0 || ^8.0
  composer.json
Due: composer-validate, composer-normalize, composer-require-checker

ci(deps): ignore symfony 8 until openemr moves
  .github/dependabot.yml
Due: none

ci(deps): ignore symfony 8 until openemr moves (#121)
  .github/dependabot.yml
Due: none

ci: drop pull_request.paths for required-check safety
  .github/workflows/actionlint.yml
  .github/workflows/composer-normalize.yml
  .github/workflows/composer-require-checker.yml
  .github/workflows/composer-validate.yml
  .github/workflows/dclint.yml
  .github/workflows/hadolint.yml
  .github/workflows/php-syntax-check.yml
  .github/workflows/phpcs.yml
  .github/workflows/phpstan.yml
  .github/workflows/rector.yml
Due: none

ci: drop pull_request.paths for required-check safety (#122)
  .github/workflows/actionlint.yml
  .github/workflows/composer-normalize.yml
  .github/workflows/composer-require-checker.yml
  .github/workflows/composer-validate.yml
  .github/workflows/dclint.yml
  .github/workflows/hadolint.yml
  .github/workflows/php-syntax-check.yml
  .github/workflows/phpcs.yml
  .github/workflows/phpstan.yml
  .github/workflows/rector.yml
Due: none

ci: grant `pull-requests: read` to conventional-pr-title caller
  .github/workflows/conventional-pr-title.yml
Due: none

ci: grant `pull-requests: read` to conventional-pr-title caller (#128)
  .github/workflows/conventional-pr-title.yml
Due: none

chore(ci): scope dependabot prefixes so release-please skips non-runtime updates
  .github/dependabot.yml
Due: none

chore(ci): scope dependabot prefixes so release-please skips non-runtime updates (#129)
  .github/dependabot.yml
Due: none

ci(release-please): pin reusable @1.0.0 and use `secrets: inherit`
  .github/workflows/release-please.yml
Due: none

ci(release-please): pin reusable @1.0.0 and use `secrets: inherit` (#137)
  .github/workflows/release-please.yml
Due: none

chore(ci): group reusable workflow Dependabot updates
  .github/dependabot.yml
Due: none

chore(ci): normalize org casing and tighten group patterns
  .github/dependabot.yml
  .github/workflows/release-please.yml
Due: none

chore(ci): group reusable workflow Dependabot updates (#143)
  .github/dependabot.yml
  .github/workflows/release-please.yml
Due: none

fix: namespace MockDocument so it no longer collides with OpenEMR's \Document
  phpstan.neon
  tests/Mocks/MockDocument.php
  tests/Unit/Controller/DocumentFaxControllerTest.php
  tests/bootstrap.php
Due: none

fix: namespace MockDocument so it no longer collides with OpenEMR's \Document (#146)
  phpstan.neon
  tests/Mocks/MockDocument.php
  tests/Unit/Controller/DocumentFaxControllerTest.php
  tests/bootstrap.php
Due: none

chore: track composer.lock for reproducible CI and dep gating
  .gitignore
  composer.lock
Due: none

chore: align rector and Dockerfile.test on PHP 8.5
  Dockerfile.test
  rector.php
  src/Console/Command/ModuleDisableCommand.php
  src/Console/Command/ModuleEnableCommand.php
  src/Console/Command/ModuleInstallCommand.php
  src/Console/Command/ModuleInstallEnableCommand.php
  src/Console/Command/ModuleRegisterCommand.php
  src/Console/Command/ModuleUnregisterCommand.php
  src/EnvironmentConfigAccessor.php
  src/FileConfigAccessor.php
  src/YamlConfigLoader.php
Due: composer-require-checker

Path conditions:
  composer-validate: any of: ^composer\.json$
  composer-normalize: any of: ^composer\.json$
  composer-require-checker: any of: ^(composer\.json|src/.+\.php)$
