Repository openCoreEMR/oce-module-sinch-fax: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-json
      - id: mixed-line-ending
        args: ['--fix=lf']

  - repo: local
    hooks:
      - id: php-syntax-check
        name: PHP Syntax Check
        entry: php -l
        language: system
        types: [php]

      - id: composer-validate
        name: Validate composer.json
        entry: composer validate --strict
        language: system
        files: ^composer\.json$
        pass_filenames: false

      - id: composer-normalize
        name: Normalize composer.json
        entry: composer normalize --dry-run
        language: system
        files: ^composer\.json$
        pass_filenames: false

      - id: phpcs
        name: PHP CodeSniffer
        entry: composer run-script phpcs
        language: system
        types: [php]
        pass_filenames: false

      - id: phpstan
        name: PHPStan Static Analysis
        entry: composer run-script phpstan
        language: system
        types: [php]
        pass_filenames: false

      - id: rector
        name: Rector
        entry: composer run-script rector-fix
        language: system
        types: [php]
        pass_filenames: false

      - id: composer-require-checker
        name: Composer Require Checker
        entry: composer run-script require-checker
        language: system
        files: ^(composer\.json|src/.+\.php)$
        pass_filenames: false

refactor: rename IP whitelist to allowlist (#68)
  CLAUDE.md
  docs/sinch-meeting-questions-2026-01-07.md
  docs/sinch/api-reference.md
  docs/testing/sinch-fax-testing.md
  docs/testing/webhook-testing.md
  src/EnvironmentConfigAccessor.php
  src/GlobalConfig.php
  tests/Unit/EnvironmentConfigAccessorTest.php
  tests/Unit/GlobalConfigTest.php
Due: composer-require-checker

fix(.env.testing.example): s/whitelist/allowlist
  .env.testing.example
Due: none

fix(.env.testing.example): s/whitelist/allowlist (#73)
  .env.testing.example
Due: none

fix: remove auto-enabled coverage config from phpunit.xml
  phpunit.xml
Due: none

fix: remove auto-enabled coverage config from phpunit.xml (#78)
  phpunit.xml
Due: none

fix: move dlgclose script from controller echo to template
  src/Controller/DocumentFaxController.php
  templates/fax/send-document.html.twig
Due: composer-require-checker

fix: move dlgclose script from controller echo to template (#76)
  src/Controller/DocumentFaxController.php
  templates/fax/send-document.html.twig
Due: composer-require-checker

feat: return 404 for all web requests when module not installed/enabled
  public/contact.php
  public/download.php
  public/index.php
  public/webhook.php
  src/Bootstrap.php
  src/EnvironmentConfigAccessor.php
  src/GlobalsAccessor.php
  src/ModuleAccessGuard.php
  tests/Unit/ModuleAccessGuardTest.php
Due: composer-require-checker

feat: return 404 for all web requests when module not installed/enabled (#75)
  public/contact.php
  public/download.php
  public/index.php
  public/webhook.php
  src/Bootstrap.php
  src/EnvironmentConfigAccessor.php
  src/GlobalsAccessor.php
  src/ModuleAccessGuard.php
  tests/Unit/ModuleAccessGuardTest.php
Due: composer-require-checker

feat: display configured fax phone numbers in module UI
  src/Client/SinchFaxClient.php
  src/Controller/FaxListController.php
  src/Service/FaxService.php
  templates/fax/partials/_config-status.html.twig
  tests/Unit/Client/SinchFaxClientTest.php
  tests/Unit/Service/FaxServiceTest.php
Due: composer-require-checker

feat: display configured fax phone numbers in module UI (#74)
  src/Client/SinchFaxClient.php
  src/Controller/FaxListController.php
  src/Service/FaxService.php
  templates/fax/partials/_config-status.html.twig
  tests/Unit/Client/SinchFaxClientTest.php
  tests/Unit/Service/FaxServiceTest.php
Due: composer-require-checker

refactor(rector): use full prepared sets and apply fixes
  phpstan.neon
  public/contact.php
  public/download.php
  public/index.php
  public/webhook.php
  rector.php
  src/Bootstrap.php
  src/Client/SinchFaxClient.php
  src/Console/Command/AbstractModuleCommand.php
  src/Controller/DocumentFaxController.php
  src/Controller/FaxListController.php
  src/Controller/WebhookController.php
  src/GlobalConfig.php
  src/Service/FaxService.php
Due: composer-require-checker

test: fix WebhookControllerTest after constructor change
  tests/Unit/Controller/WebhookControllerTest.php
Due: none

refactor(rector): use full prepared sets and apply fixes (#81)
  phpstan.neon
  public/contact.php
  public/download.php
  public/index.php
  public/webhook.php
  rector.php
  src/Bootstrap.php
  src/Client/SinchFaxClient.php
  src/Console/Command/AbstractModuleCommand.php
  src/Controller/DocumentFaxController.php
  src/Controller/FaxListController.php
  src/Controller/WebhookController.php
  src/GlobalConfig.php
  src/Service/FaxService.php
  tests/Unit/Controller/WebhookControllerTest.php
Due: composer-require-checker

refactor(exceptions): replace generic \Exception with custom exception types
  docs/development/exceptions.md
  src/Client/SinchFaxClient.php
  src/Exception/FaxApiException.php
  src/Service/FaxService.php
Due: composer-require-checker

refactor(exceptions): replace generic \Exception with custom exception types (#82)
  docs/development/exceptions.md
  src/Client/SinchFaxClient.php
  src/Exception/FaxApiException.php
  src/Service/FaxService.php
Due: composer-require-checker

fix(webhook): enforce authentication on webhook endpoint
  .composer-require-checker.json
  composer.json
  docs/testing/webhook-testing.md
  src/Bootstrap.php
  src/Controller/WebhookController.php
  src/GlobalConfig.php
  src/GlobalsAccessor.php
  tests/Mocks/MockGlobalSetting.php
  tests/Mocks/MockGlobalsAccessor.php
  tests/Unit/Controller/WebhookControllerTest.php
  tests/Unit/GlobalConfigTest.php
  tests/Unit/GlobalsAccessorTest.php
Due: composer-validate, composer-normalize, composer-require-checker

fix(webhook): enforce authentication on webhook endpoint (#84)
  .composer-require-checker.json
  composer.json
  docs/testing/webhook-testing.md
  src/Bootstrap.php
  src/Controller/WebhookController.php
  src/GlobalConfig.php
  src/GlobalsAccessor.php
  tests/Mocks/MockGlobalSetting.php
  tests/Mocks/MockGlobalsAccessor.php
  tests/Unit/Controller/WebhookControllerTest.php
  tests/Unit/GlobalConfigTest.php
  tests/Unit/GlobalsAccessorTest.php
Due: composer-validate, composer-normalize, composer-require-checker

chore(.editorconfig): add from template
  .editorconfig
Due: none

chore(.editorconfig): add from template (#88)
  .editorconfig
Due: none

docs: add info.txt, versioning, and error handling rules
  CLAUDE.md
Due: none

docs: add info.txt, versioning, and error handling rules (#89)
  CLAUDE.md
Due: none

fix(sql): remove hard-coded charset and collation from table definitions
  table.sql
Due: none

fix(sql): remove hard-coded charset and collation from table definitions (#91)
  table.sql
Due: none

chore: update dev tooling to match module template
  .dclintrc.yaml
  .dockerignore
  .github/dependabot.yml
  .github/workflows/actionlint.yml
  .github/workflows/dclint.yml
  .github/workflows/hadolint.yml
  .pre-commit-config.yaml
  .yamlfmt
  Dockerfile.test
  compose.yml
  composer.json
  phpstan.neon
  public/contact.php
  src/Bootstrap.php
  src/Client/SinchFaxClient.php
  src/Console/ModuleInstaller.php
  src/Controller/DocumentFaxController.php
  src/Controller/FaxDownloadController.php
  src/Controller/FaxListController.php
  src/Controller/WebhookController.php
  src/GlobalsAccessor.php
  src/ModuleAccessGuard.php
  src/Service/FaxService.php
  version.php
Due: composer-validate, composer-normalize, composer-require-checker

chore: update dev tooling to match module template (#92)
  .dclintrc.yaml
  .dockerignore
  .github/dependabot.yml
  .github/workflows/actionlint.yml
  .github/workflows/dclint.yml
  .github/workflows/hadolint.yml
  .pre-commit-config.yaml
  .yamlfmt
  Dockerfile.test
  compose.yml
  composer.json
  phpstan.neon
  public/contact.php
  src/Bootstrap.php
  src/Client/SinchFaxClient.php
  src/Console/ModuleInstaller.php
  src/Controller/DocumentFaxController.php
  src/Controller/FaxDownloadController.php
  src/Controller/FaxListController.php
  src/Controller/WebhookController.php
  src/GlobalsAccessor.php
  src/ModuleAccessGuard.php
  src/Service/FaxService.php
  version.php
Due: composer-validate, composer-normalize, composer-require-checker

chore(docker): disable telemetry in dev environment
  compose.yml
Due: none

chore(docker): disable telemetry in dev environment (#94)
  compose.yml
Due: none

feat: add YAML file-based configuration support
  composer.json
  docs/development/docker.md
  src/Bootstrap.php
  src/ConfigFactory.php
  src/FileConfigAccessor.php
  src/GlobalConfig.php
  src/YamlConfigLoader.php
  tests/Unit/ConfigFactoryTest.php
  tests/Unit/FileConfigAccessorTest.php
  tests/Unit/YamlConfigLoaderTest.php
Due: composer-validate, composer-normalize, composer-require-checker

feat: add YAML file-based configuration support (#87)
  composer.json
  docs/development/docker.md
  src/Bootstrap.php
  src/ConfigFactory.php
  src/FileConfigAccessor.php
  src/GlobalConfig.php
  src/YamlConfigLoader.php
  tests/Unit/ConfigFactoryTest.php
  tests/Unit/FileConfigAccessorTest.php
  tests/Unit/YamlConfigLoaderTest.php
Due: composer-validate, composer-normalize, composer-require-checker

refactor!: remove unused OAuth authentication support
  .env.testing.example
  .github/workflows/release-please.yml
  docs/browser-automation/openemr-navigation.md
  docs/development/docker.md
  docs/testing/sinch-fax-testing.md
  src/Client/SinchFaxClient.php
  src/EnvironmentConfigAccessor.php
  src/FileConfigAccessor.php
  src/GlobalConfig.php
  table.sql
  tests/Unit/BootstrapTest.php
  tests/Unit/Client/SinchFaxClientTest.php
  tests/Unit/Controller/DocumentFaxControllerTest.php
  tests/Unit/Controller/FaxDownloadControllerTest.php
  tests/Unit/Controller/FaxListControllerTest.php
  tests/Unit/Controller/WebhookControllerTest.php
  tests/Unit/EnvironmentConfigAccessorTest.php
  tests/Unit/FileConfigAccessorTest.php
  tests/Unit/GlobalConfigTest.php
  tests/Unit/Service/FaxServiceTest.php
Due: composer-require-checker

refactor!: remove unused OAuth authentication support (#97)
  .env.testing.example
  .github/workflows/release-please.yml
  docs/browser-automation/openemr-navigation.md
  docs/development/docker.md
  docs/testing/sinch-fax-testing.md
  src/Client/SinchFaxClient.php
  src/EnvironmentConfigAccessor.php
  src/FileConfigAccessor.php
  src/GlobalConfig.php
  table.sql
  tests/Unit/BootstrapTest.php
  tests/Unit/Client/SinchFaxClientTest.php
  tests/Unit/Controller/DocumentFaxControllerTest.php
  tests/Unit/Controller/FaxDownloadControllerTest.php
  tests/Unit/Controller/FaxListControllerTest.php
  tests/Unit/Controller/WebhookControllerTest.php
  tests/Unit/EnvironmentConfigAccessorTest.php
  tests/Unit/FileConfigAccessorTest.php
  tests/Unit/GlobalConfigTest.php
  tests/Unit/Service/FaxServiceTest.php
Due: composer-require-checker

docs: clarify webhook password should be a bcrypt hash in external config
  README.md
Due: none

docs: document all configuration modes and identify secrets
  README.md
Due: none

docs: remove OAuth references after auth method removal
  README.md
Due: none

docs: document all configuration modes and identify secrets (#98)
  README.md
Due: none

fix: remove module-level vendor/autoload.php from entry points
  CLAUDE.md
  public/contact.php
  public/download.php
  public/index.php
  public/webhook.php
Due: none

test: verify entry point requires resolve in installed context
  tests/Unit/EntryPointInstallContextTest.php
Due: none

fix: remove module-level vendor/autoload.php from entry points (#100)
  CLAUDE.md
  public/contact.php
  public/download.php
  public/index.php
  public/webhook.php
  tests/Unit/EntryPointInstallContextTest.php
Due: none

fix: widen psr/http-message constraint to ^1.1 || ^2.0
  .github/workflows/openemr-compat.yml
  composer.json
Due: composer-validate, composer-normalize, composer-require-checker
