Repository openCoreEMR/oce-module-sinch-fax: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-json
      - id: mixed-line-ending
        args: ['--fix=lf']

  - repo: local
    hooks:
      - id: php-syntax-check
        name: PHP Syntax Check
        entry: php -l
        language: system
        types: [php]

      - id: composer-validate
        name: Validate composer.json
        entry: composer validate --strict
        language: system
        files: ^composer\.json$
        pass_filenames: false

      - id: composer-normalize
        name: Normalize composer.json
        entry: composer normalize --dry-run
        language: system
        files: ^composer\.json$
        pass_filenames: false

      - id: phpcs
        name: PHP CodeSniffer
        entry: composer run-script phpcs
        language: system
        types: [php]
        pass_filenames: false

      - id: phpstan
        name: PHPStan Static Analysis
        entry: composer run-script phpstan
        language: system
        types: [php]
        pass_filenames: false

      - id: rector
        name: Rector
        entry: composer run-script rector-fix
        language: system
        types: [php]
        pass_filenames: false

      - id: composer-require-checker
        name: Composer Require Checker
        entry: composer run-script require-checker
        language: system
        files: ^(composer\.json|src/.+\.php)$
        pass_filenames: false

chore: track composer.lock for reproducible CI and dep gating (#148)
  .gitignore
  Dockerfile.test
  composer.lock
  rector.php
  src/Console/Command/ModuleDisableCommand.php
  src/Console/Command/ModuleEnableCommand.php
  src/Console/Command/ModuleInstallCommand.php
  src/Console/Command/ModuleInstallEnableCommand.php
  src/Console/Command/ModuleRegisterCommand.php
  src/Console/Command/ModuleUnregisterCommand.php
  src/EnvironmentConfigAccessor.php
  src/FileConfigAccessor.php
  src/YamlConfigLoader.php
Due: composer-require-checker

chore(ci): use a strategy matrix for composer-script callers
  .github/workflows/composer-normalize.yml
  .github/workflows/composer-require-checker.yml
  .github/workflows/composer-validate.yml
  .github/workflows/php-syntax-check.yml
  .github/workflows/phpcs.yml
  .github/workflows/phpstan.yml
  .github/workflows/rector.yml
Due: none

chore(ci): use a strategy matrix for composer-script callers (#149)
  .github/workflows/composer-normalize.yml
  .github/workflows/composer-require-checker.yml
  .github/workflows/composer-validate.yml
  .github/workflows/php-syntax-check.yml
  .github/workflows/phpcs.yml
  .github/workflows/phpstan.yml
  .github/workflows/rector.yml
Due: none

fix(bootstrap): resolve Kernel projectDir throw on oce-810
  src/Bootstrap.php
Due: composer-require-checker

fix(bootstrap): resolve Kernel projectDir throw on oce-810 (#152)
  src/Bootstrap.php
Due: composer-require-checker

fix(csrf): pass SessionInterface to CsrfUtils for oce-810
  .github/workflows/phpstan.yml
  .github/workflows/rector.yml
  .gitignore
  composer.json
  composer.lock
  phpstan.neon
  public/contact.php
  public/index.php
  src/Bootstrap.php
  src/Controller/DocumentFaxController.php
  src/Controller/FaxListController.php
  tests/Mocks/MockCsrfUtils.php
  tests/Unit/BootstrapTest.php
  tests/Unit/Controller/DocumentFaxControllerTest.php
  tests/Unit/Controller/FaxListControllerTest.php
  tools/openemr/README.md
  tools/openemr/composer.json
Due: composer-validate, composer-normalize, composer-require-checker

ci(phpstan): pin tools/openemr to public upstream rel-810
  .github/workflows/phpstan.yml
  .github/workflows/rector.yml
  tools/openemr/README.md
  tools/openemr/composer.json
Due: none

fix(csrf): pass SessionInterface to CsrfUtils for oce-810 (#154)
  .gitignore
  composer.json
  composer.lock
  phpstan.neon
  public/contact.php
  public/index.php
  src/Bootstrap.php
  src/Controller/DocumentFaxController.php
  src/Controller/FaxListController.php
  tests/Mocks/MockCsrfUtils.php
  tests/Unit/BootstrapTest.php
  tests/Unit/Controller/DocumentFaxControllerTest.php
  tests/Unit/Controller/FaxListControllerTest.php
  tools/openemr/README.md
  tools/openemr/composer.json
Due: composer-validate, composer-normalize, composer-require-checker

fix: lower php floor to >=8.4 so consumers on platform.php 8.4 can resolve
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-require-checker

fix: lower php floor to >=8.4 so consumers on platform.php 8.4 can resolve (#155)
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-require-checker

ci: run actionlint from the OCE fork with corrected action metadata
  .pre-commit-config.yaml
Due: none

ci: run actionlint from the OCE fork with corrected action metadata (#158)
  .pre-commit-config.yaml
Due: none

fix(sql): guard the Received Faxes category insert
  table.sql
Due: none

fix(version): pass the default version as a literal, not a global const
  version.php
Due: none

docs(sql): table.sql must run through SQLUpgradeService, not a db client
  DEVELOPMENT.md
  docs/development/docker.md
  table.sql
Due: none

ci(dependabot): update openCoreEMR packages without the release cooldown
  .github/dependabot.yml
Due: none

ci(dependabot): update openCoreEMR packages without the release cooldown (#164)
  .github/dependabot.yml
Due: none
