Repository openCoreEMR/oce-module-sinch-fax: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-json
      - id: mixed-line-ending
        args: ['--fix=lf']

  - repo: local
    hooks:
      - id: php-syntax-check
        name: PHP Syntax Check
        entry: php -l
        language: system
        types: [php]

      - id: composer-validate
        name: Validate composer.json
        entry: composer validate --strict
        language: system
        files: ^composer\.json$
        pass_filenames: false

      - id: composer-normalize
        name: Normalize composer.json
        entry: composer normalize --dry-run
        language: system
        files: ^composer\.json$
        pass_filenames: false

      - id: phpcs
        name: PHP CodeSniffer
        entry: composer run-script phpcs
        language: system
        types: [php]
        pass_filenames: false

      - id: phpstan
        name: PHPStan Static Analysis
        entry: composer run-script phpstan
        language: system
        types: [php]
        pass_filenames: false

      - id: rector
        name: Rector
        entry: composer run-script rector-fix
        language: system
        types: [php]
        pass_filenames: false

      - id: composer-require-checker
        name: Composer Require Checker
        entry: composer run-script require-checker
        language: system
        files: ^(composer\.json|src/.+\.php)$
        pass_filenames: false

ci: fix pre-commit rules and config
  .composer-require-checker.json
  .github/workflows/code-quality.yml
  .github/workflows/composer-normalize.yml
  .github/workflows/composer-require-checker.yml
  .github/workflows/composer-validate.yml
  .github/workflows/php-syntax-check.yml
  .github/workflows/phpcs.yml
  .github/workflows/phpstan.yml
  .github/workflows/rector.yml
  .pre-commit-config.yaml
  composer.json
Due: composer-validate, composer-normalize, composer-require-checker

feat: fax document button
  .composer-require-checker.json
  phpstan.neon
  public/contact.php
  src/Bootstrap.php
Due: composer-require-checker

fixup! feat: fax document button
  src/Bootstrap.php
Due: composer-require-checker

fixup! fixup! feat: fax document button
  phpstan.neon
  public/contact.php
Due: none

fixup! fixup! fixup! feat: fax document button
  public/contact.php
Due: none

fixup! fixup! fixup! fixup! feat: fax document button
  public/contact.php
Due: none

sent, but failed
  .composer-require-checker.json
  public/index.php
  src/Client/SinchFaxClient.php
  src/GlobalConfig.php
  src/Service/FaxService.php
Due: composer-require-checker

fix sending doc
  public/contact.php
  public/index.php
  src/Service/FaxService.php
Due: composer-require-checker

fix name
  info.txt
Due: none

configuration fixes
  .composer-require-checker.json
  public/contact.php
  public/index.php
  src/Bootstrap.php
  src/GlobalConfig.php
Due: composer-require-checker

too long lines
  .pre-commit-config.yaml
  public/contact.php
  public/index.php
  src/Bootstrap.php
  src/GlobalConfig.php
Due: composer-require-checker

fix: configuration and sending faxes (#1)
  .composer-require-checker.json
  .pre-commit-config.yaml
  info.txt
  phpstan.neon
  public/contact.php
  public/index.php
  src/Bootstrap.php
  src/Client/SinchFaxClient.php
  src/GlobalConfig.php
  src/Service/FaxService.php
Due: composer-require-checker

fix: add templates/.gitkeep to fix composer install
  templates/.gitkeep
Due: none

refactor: use globalsbag to access globals
  .composer-require-checker.json
  public/contact.php
  public/index.php
  src/Bootstrap.php
  src/GlobalConfig.php
  src/Service/FaxService.php
Due: composer-require-checker

refactor: use globalsbag to access globals (#2)
  .composer-require-checker.json
  public/contact.php
  public/index.php
  src/Bootstrap.php
  src/GlobalConfig.php
  src/Service/FaxService.php
Due: composer-require-checker

feat: polling for faxes
  .composer-require-checker.json
  phpstan.neon
  public/index.php
  public/webhook.php
  src/Command/PollIncomingFaxesCommand.php
  src/GlobalConfig.php
  src/Service/FaxService.php
Due: composer-require-checker

feat: polling for faxes (#3)
  .composer-require-checker.json
  phpstan.neon
  public/index.php
  public/webhook.php
  src/Command/PollIncomingFaxesCommand.php
  src/GlobalConfig.php
  src/Service/FaxService.php
Due: composer-require-checker

chore: remove fax-to-email references
  DEVELOPMENT.md
  README.md
  src/GlobalConfig.php
Due: composer-require-checker

chore: remove fax-to-email references (#4)
  DEVELOPMENT.md
  README.md
  src/GlobalConfig.php
Due: composer-require-checker

fix: use QueryUtils, not raw sql
  .composer-require-checker.json
  public/index.php
  src/GlobalConfig.php
  src/Service/FaxService.php
Due: composer-require-checker

fix: use QueryUtils, not raw sql (#5)
  .composer-require-checker.json
  public/index.php
  src/GlobalConfig.php
  src/Service/FaxService.php
Due: composer-require-checker

fix: remove references to OEGlobalsBag
  composer.json
  phpstan.neon
  src/Bootstrap.php
  src/GlobalConfig.php
  src/GlobalsAccessor.php
Due: composer-validate, composer-normalize, composer-require-checker

fix: remove references to OEGlobalsBag (#6)
  composer.json
  phpstan.neon
  src/Bootstrap.php
  src/GlobalConfig.php
  src/GlobalsAccessor.php
Due: composer-validate, composer-normalize, composer-require-checker

fix(public/index.php): csrf in post
  public/index.php
Due: none

fix(public/index.php): redirect to fax list after send
  public/index.php
Due: none

fix(public/index.php): csrf in post (#7)
  public/index.php
Due: none

debugging
  src/Client/SinchFaxClient.php
Due: composer-require-checker

fix(SinchFaxClient): open files in binary mode
  src/Client/SinchFaxClient.php
Due: composer-require-checker

fix: don't corrupt filename/extension
  public/index.php
  src/Client/SinchFaxClient.php
  src/Service/FaxService.php
Due: composer-require-checker

fix: don't corrupt files on send (#8)
  public/index.php
  src/Client/SinchFaxClient.php
  src/Service/FaxService.php
Due: composer-require-checker

fix: allow sending MS Word documents
  src/Client/SinchFaxClient.php
Due: composer-require-checker

fix: allow sending MS Word documents (#9)
  src/Client/SinchFaxClient.php
Due: composer-require-checker

build(version): try to supply version from git
  version.php
Due: none

docs(README): module name and screenshots
  .docs/screenshots/configuration.png
  .docs/screenshots/document-fax-button.png
  .docs/screenshots/document-fax-dialog.png
  .docs/screenshots/fax-list.png
  .docs/screenshots/module-menu.png
  .docs/screenshots/send-fax.png
  README.md
Due: none

docs(README): module name and screenshots (#13)
  .docs/screenshots/configuration.png
  .docs/screenshots/document-fax-button.png
  .docs/screenshots/document-fax-dialog.png
  .docs/screenshots/fax-list.png
  .docs/screenshots/module-menu.png
  .docs/screenshots/send-fax.png
  README.md
Due: none

build(version): try to supply version from git (#12)
  version.php
Due: none

refactor: use symfony and twig
  .composer-require-checker.json
  .github/copilot-instructions.md
  CLAUDE.md
  composer.json
  phpstan.neon
  public/contact.php
  public/download.php
  public/index.php
  public/webhook.php
  src/Bootstrap.php
  src/Command/PollIncomingFaxesCommand.php
  src/Controller/DocumentFaxController.php
  src/Controller/FaxDownloadController.php
  src/Controller/FaxListController.php
  src/Controller/WebhookController.php
  src/Exception/FaxAccessDeniedException.php
  src/Exception/FaxConfigurationException.php
  src/Exception/FaxException.php
  src/Exception/FaxExceptionInterface.php
  src/Exception/FaxNotFoundException.php
  src/Exception/FaxUnauthorizedException.php
  src/Exception/FaxValidationException.php
  src/Service/FaxService.php
  table.sql
  templates/fax/list.html.twig
  templates/fax/partials/_config-status.html.twig
  templates/fax/partials/_fax-table-row.html.twig
  templates/fax/partials/_send-form.html.twig
  templates/fax/send-document.html.twig
Due: composer-validate, composer-normalize, composer-require-checker

refactor: use symfony and twig (#18)
  .composer-require-checker.json
  .github/copilot-instructions.md
  CLAUDE.md
  composer.json
  phpstan.neon
  public/contact.php
  public/download.php
  public/index.php
  public/webhook.php
  src/Bootstrap.php
  src/Command/PollIncomingFaxesCommand.php
  src/Controller/DocumentFaxController.php
  src/Controller/FaxDownloadController.php
  src/Controller/FaxListController.php
  src/Controller/WebhookController.php
  src/Exception/FaxAccessDeniedException.php
  src/Exception/FaxConfigurationException.php
  src/Exception/FaxException.php
  src/Exception/FaxExceptionInterface.php
  src/Exception/FaxNotFoundException.php
  src/Exception/FaxUnauthorizedException.php
  src/Exception/FaxValidationException.php
  src/Service/FaxService.php
  table.sql
  templates/fax/list.html.twig
  templates/fax/partials/_config-status.html.twig
  templates/fax/partials/_fax-table-row.html.twig
  templates/fax/partials/_send-form.html.twig
  templates/fax/send-document.html.twig
Due: composer-validate, composer-normalize, composer-require-checker

ci(release-please): setup
  .github/dependabot.yml
  .github/workflows/conventional-pr-title.yml
  .github/workflows/release-please.yml
  .release-please-manifest.json
  composer.json
  release-please-config.json
  version.php
Due: composer-validate, composer-normalize, composer-require-checker

ci(release-please): setup (#20)
  .github/dependabot.yml
  .github/workflows/conventional-pr-title.yml
  .github/workflows/release-please.yml
  .release-please-manifest.json
  composer.json
  release-please-config.json
  version.php
Due: composer-validate, composer-normalize, composer-require-checker
