Repository openCoreEMR/oce-module-sinch-fax: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-json
      - id: mixed-line-ending
        args: ['--fix=lf']

  - repo: local
    hooks:
      - id: php-syntax-check
        name: PHP Syntax Check
        entry: php -l
        language: system
        types: [php]

      - id: composer-validate
        name: Validate composer.json
        entry: composer validate --strict
        language: system
        files: ^composer\.json$
        pass_filenames: false

      - id: composer-normalize
        name: Normalize composer.json
        entry: composer normalize --dry-run
        language: system
        files: ^composer\.json$
        pass_filenames: false

      - id: phpcs
        name: PHP CodeSniffer
        entry: composer run-script phpcs
        language: system
        types: [php]
        pass_filenames: false

      - id: phpstan
        name: PHPStan Static Analysis
        entry: composer run-script phpstan
        language: system
        types: [php]
        pass_filenames: false

      - id: rector
        name: Rector
        entry: composer run-script rector-fix
        language: system
        types: [php]
        pass_filenames: false

      - id: composer-require-checker
        name: Composer Require Checker
        entry: composer run-script require-checker
        language: system
        files: ^(composer\.json|src/.+\.php)$
        pass_filenames: false

docs: add comprehensive testing documentation for AI agents
  CLAUDE.md
Due: none

docs: remove invalid --verbose option from PHPUnit examples
  tests/README.md
Due: none

test: improve test coverage from 33% to 53%
  src/Client/SinchFaxClient.php
  tests/Mocks/MockQueryUtils.php
  tests/Unit/Client/SinchFaxClientTest.php
  tests/Unit/Controller/FaxDownloadControllerTest.php
  tests/Unit/Service/FaxServiceTest.php
Due: composer-require-checker

fix(ci): remove invalid secrets check from workflow if condition
  .github/workflows/tests.yml
Due: none

fix(ci): remove PHP 8.6 from test matrix
  .github/workflows/tests.yml
Due: none

test: adding unit tests (#44)
  .dockerignore
  .github/workflows/tests.yml
  CLAUDE.md
  Dockerfile.test
  compose.yml
  composer.json
  phpunit.xml
  src/Client/SinchFaxClient.php
  tests/Mocks/MockCryptoGen.php
  tests/Mocks/MockCsrfUtils.php
  tests/Mocks/MockGlobalSetting.php
  tests/Mocks/MockGlobalsAccessor.php
  tests/Mocks/MockQueryUtils.php
  tests/Mocks/MockSystemLogger.php
  tests/README.md
  tests/Unit/Client/SinchFaxClientTest.php
  tests/Unit/Controller/DocumentFaxControllerTest.php
  tests/Unit/Controller/FaxDownloadControllerTest.php
  tests/Unit/Controller/FaxListControllerTest.php
  tests/Unit/GlobalConfigTest.php
  tests/Unit/Service/FaxServiceTest.php
  tests/bootstrap.php
Due: composer-validate, composer-normalize, composer-require-checker

fix: no webhook support for now
  README.md
  phpstan.neon
  public/webhook.php
  src/Command/PollIncomingFaxesCommand.php
  src/Controller/FaxListController.php
  src/Controller/WebhookController.php
  src/GlobalConfig.php
  src/Service/FaxService.php
  templates/fax/partials/_config-status.html.twig
Due: composer-require-checker

fix: no webhook support for now (#42)
  README.md
  phpstan.neon
  public/webhook.php
  src/Command/PollIncomingFaxesCommand.php
  src/Controller/FaxListController.php
  src/Controller/WebhookController.php
  src/GlobalConfig.php
  src/Service/FaxService.php
  templates/fax/partials/_config-status.html.twig
Due: composer-require-checker

ci: output test coverage in GitHub Actions CLI
  .github/workflows/tests.yml
Due: none

ci: upload HTML coverage report as artifact
  .github/workflows/tests.yml
Due: none

ci: output test coverage in GitHub Actions CLI (#45)
  .github/workflows/tests.yml
Due: none

docs(@link): use opencoreemr.com url
  .github/copilot-instructions.md
  CLAUDE.md
  openemr.bootstrap.php
  public/contact.php
  public/download.php
  public/index.php
  src/Bootstrap.php
  src/Client/SinchFaxClient.php
  src/Controller/DocumentFaxController.php
  src/Controller/FaxDownloadController.php
  src/Controller/FaxListController.php
  src/Exception/FaxAccessDeniedException.php
  src/Exception/FaxConfigurationException.php
  src/Exception/FaxException.php
  src/Exception/FaxExceptionInterface.php
  src/Exception/FaxNotFoundException.php
  src/Exception/FaxUnauthorizedException.php
  src/Exception/FaxValidationException.php
  src/GlobalConfig.php
  src/GlobalsAccessor.php
  src/Service/FaxService.php
  tests/Mocks/MockCryptoGen.php
  tests/Mocks/MockCsrfUtils.php
  tests/Mocks/MockGlobalSetting.php
  tests/Mocks/MockGlobalsAccessor.php
  tests/Mocks/MockQueryUtils.php
  tests/Mocks/MockSystemLogger.php
  tests/Unit/Client/SinchFaxClientTest.php
  tests/Unit/Controller/DocumentFaxControllerTest.php
  tests/Unit/Controller/FaxDownloadControllerTest.php
  tests/Unit/Controller/FaxListControllerTest.php
  tests/Unit/GlobalConfigTest.php
  tests/Unit/Service/FaxServiceTest.php
  tests/bootstrap.php
  version.php
Due: composer-require-checker

docs(@link): use opencoreemr.com url (#46)
  .github/copilot-instructions.md
  CLAUDE.md
  openemr.bootstrap.php
  public/contact.php
  public/download.php
  public/index.php
  src/Bootstrap.php
  src/Client/SinchFaxClient.php
  src/Controller/DocumentFaxController.php
  src/Controller/FaxDownloadController.php
  src/Controller/FaxListController.php
  src/Exception/FaxAccessDeniedException.php
  src/Exception/FaxConfigurationException.php
  src/Exception/FaxException.php
  src/Exception/FaxExceptionInterface.php
  src/Exception/FaxNotFoundException.php
  src/Exception/FaxUnauthorizedException.php
  src/Exception/FaxValidationException.php
  src/GlobalConfig.php
  src/GlobalsAccessor.php
  src/Service/FaxService.php
  tests/Mocks/MockCryptoGen.php
  tests/Mocks/MockCsrfUtils.php
  tests/Mocks/MockGlobalSetting.php
  tests/Mocks/MockGlobalsAccessor.php
  tests/Mocks/MockQueryUtils.php
  tests/Mocks/MockSystemLogger.php
  tests/Unit/Client/SinchFaxClientTest.php
  tests/Unit/Controller/DocumentFaxControllerTest.php
  tests/Unit/Controller/FaxDownloadControllerTest.php
  tests/Unit/Controller/FaxListControllerTest.php
  tests/Unit/GlobalConfigTest.php
  tests/Unit/Service/FaxServiceTest.php
  tests/bootstrap.php
  version.php
Due: composer-require-checker

test: improve FaxService coverage from 22% to 64%
  tests/Unit/Service/FaxServiceTest.php
Due: none

test: improve controller test coverage
  tests/Mocks/MockDocument.php
  tests/Unit/Controller/DocumentFaxControllerTest.php
  tests/Unit/Controller/FaxDownloadControllerTest.php
  tests/Unit/Controller/FaxListControllerTest.php
  tests/bootstrap.php
Due: none

test: add GlobalsAccessor and Bootstrap tests, improve coverage to 83%
  tests/Mocks/MockGlobalsInitializedEvent.php
  tests/Mocks/MockKernel.php
  tests/Mocks/MockMenuEvent.php
  tests/Mocks/MockPatientDocumentEvent.php
  tests/Mocks/MockTwigContainer.php
  tests/Unit/BootstrapTest.php
  tests/Unit/GlobalsAccessorTest.php
  tests/bootstrap.php
Due: none

chore(tests): suppress error_log noise during test execution
  phpunit.xml
  tests/bootstrap.php
Due: none

test: comprehensive test coverage improvements to 83% (#47)
  phpunit.xml
  tests/Mocks/MockDocument.php
  tests/Mocks/MockGlobalsInitializedEvent.php
  tests/Mocks/MockKernel.php
  tests/Mocks/MockMenuEvent.php
  tests/Mocks/MockPatientDocumentEvent.php
  tests/Mocks/MockTwigContainer.php
  tests/Unit/BootstrapTest.php
  tests/Unit/Controller/DocumentFaxControllerTest.php
  tests/Unit/Controller/FaxDownloadControllerTest.php
  tests/Unit/Controller/FaxListControllerTest.php
  tests/Unit/GlobalsAccessorTest.php
  tests/Unit/Service/FaxServiceTest.php
  tests/bootstrap.php
Due: none

docs: reorganize CLAUDE.md into modular documentation
  CLAUDE.md
  docs/README.md
  docs/browser-automation/openemr-login.md
  docs/browser-automation/openemr-navigation.md
  docs/development/architecture.md
  docs/development/code-quality.md
  docs/development/controllers.md
  docs/development/database.md
  docs/development/docker.md
  docs/development/exceptions.md
  docs/development/openemr-integration.md
  docs/development/templates.md
  docs/development/tooling.md
  docs/development/unit-tests.md
  docs/sinch-meeting-questions-2026-01-07.md
  docs/sinch/api-reference.md
  docs/testing/sinch-fax-testing.md
  docs/testing/webhook-testing.md
Due: none

chore: add Taskfile and improve composer scripts for development
  Taskfile.yml
  composer.json
Due: composer-validate, composer-normalize, composer-require-checker

docs: reorganize CLAUDE.md into modular documentation (#54)
  CLAUDE.md
  docs/README.md
  docs/browser-automation/openemr-login.md
  docs/browser-automation/openemr-navigation.md
  docs/development/architecture.md
  docs/development/code-quality.md
  docs/development/controllers.md
  docs/development/database.md
  docs/development/docker.md
  docs/development/exceptions.md
  docs/development/openemr-integration.md
  docs/development/templates.md
  docs/development/tooling.md
  docs/development/unit-tests.md
  docs/sinch-meeting-questions-2026-01-07.md
  docs/sinch/api-reference.md
  docs/testing/sinch-fax-testing.md
  docs/testing/webhook-testing.md
Due: none

fix: add reportUnmatched to phpstan ignore patterns
  phpstan.neon
Due: none

chore: add Taskfile and improve composer scripts for development (#55)
  Taskfile.yml
  composer.json
  phpstan.neon
Due: composer-validate, composer-normalize, composer-require-checker

refactor: improve type safety for PHPStan level 8 compliance
  src/Client/SinchFaxClient.php
  src/Controller/DocumentFaxController.php
  src/Controller/FaxDownloadController.php
  src/GlobalsAccessor.php
  tests/Unit/Client/SinchFaxClientTest.php
  tests/Unit/Service/FaxServiceTest.php
Due: composer-require-checker

refactor: improve type safety for PHPStan level 8 compliance (#57)
  src/Client/SinchFaxClient.php
  src/Controller/DocumentFaxController.php
  src/Controller/FaxDownloadController.php
  src/GlobalsAccessor.php
  tests/Unit/Client/SinchFaxClientTest.php
  tests/Unit/Service/FaxServiceTest.php
Due: composer-require-checker

feat: add webhook support for inbound fax events
  phpstan.neon
  public/contact.php
  public/download.php
  public/index.php
  public/webhook.php
  src/Bootstrap.php
  src/Controller/FaxListController.php
  src/Controller/WebhookController.php
  src/GlobalConfig.php
  src/Service/FaxService.php
  tests/Unit/Controller/WebhookControllerTest.php
  tests/Unit/GlobalConfigTest.php
  tools/.gitignore
  tools/test-webhook.php
Due: composer-require-checker

chore(docker): extend OpenEMR's docker-compose instead of standalone config
  .pre-commit-config.yaml
  compose.yml
  docs/development/docker.md
Due: none

chore(docker): extend OpenEMR's docker-compose instead of standalone config (#58)
  .pre-commit-config.yaml
  compose.yml
  docs/development/docker.md
Due: none

feat: add read states, reconciliation, and remove polling
  composer.json
  src/Controller/FaxDownloadController.php
  src/Controller/FaxListController.php
  src/GlobalConfig.php
  src/Service/FaxService.php
  table.sql
  templates/fax/list.html.twig
  templates/fax/partials/_fax-table-row.html.twig
  tests/Unit/Controller/FaxListControllerTest.php
  tests/Unit/GlobalConfigTest.php
Due: composer-validate, composer-normalize, composer-require-checker

docs: update documentation for read states and reconciliation
  README.md
  docs/testing/sinch-fax-testing.md
  docs/testing/webhook-testing.md
Due: none

fix: correct createTime filter format and remove unused auto-receive setting
  Taskfile.yml
  docs/browser-automation/openemr-navigation.md
  docs/testing/manual-browser-testing.md
  docs/testing/sinch-fax-testing.md
  src/Client/SinchFaxClient.php
  src/GlobalConfig.php
  tests/Unit/Client/SinchFaxClientTest.php
  tests/Unit/GlobalConfigTest.php
Due: composer-require-checker

feat: add webhook support for inbound fax events (#56)
  README.md
  Taskfile.yml
  composer.json
  docs/browser-automation/openemr-navigation.md
  docs/testing/manual-browser-testing.md
  docs/testing/sinch-fax-testing.md
  docs/testing/webhook-testing.md
  phpstan.neon
  public/contact.php
  public/download.php
  public/index.php
  public/webhook.php
  src/Bootstrap.php
  src/Client/SinchFaxClient.php
  src/Controller/FaxDownloadController.php
  src/Controller/FaxListController.php
  src/Controller/WebhookController.php
  src/GlobalConfig.php
  src/Service/FaxService.php
  table.sql
  templates/fax/list.html.twig
  templates/fax/partials/_fax-table-row.html.twig
  tests/Unit/Client/SinchFaxClientTest.php
  tests/Unit/Controller/FaxListControllerTest.php
  tests/Unit/Controller/WebhookControllerTest.php
  tests/Unit/GlobalConfigTest.php
  tools/.gitignore
  tools/test-webhook.php
Due: composer-validate, composer-normalize, composer-require-checker

feat: add Playwright E2E testing infrastructure
  .gitignore
  Taskfile.yml
  e2e/.auth/.gitkeep
  e2e/fixtures/auth.ts
  e2e/pages/globals.page.ts
  e2e/pages/index.ts
  e2e/pages/login.page.ts
  e2e/pages/module-menu.page.ts
  e2e/tests/auth.setup.ts
  e2e/tests/smoke.spec.ts
  package.json
  playwright.config.ts
Due: none

feat: add CLI tool for module installation using Symfony Console
  .composer-require-checker.json
  .github/workflows/composer-require-checker.yml
  CLAUDE.md
  Taskfile.yml
  bin/install-module.php
  composer.json
  docs/development/tooling.md
  src/Console/Command/AbstractModuleCommand.php
  src/Console/Command/ModuleDisableCommand.php
  src/Console/Command/ModuleEnableCommand.php
  src/Console/Command/ModuleInstallCommand.php
  src/Console/Command/ModuleInstallEnableCommand.php
  src/Console/Command/ModuleListCommand.php
  src/Console/Command/ModuleRegisterCommand.php
  src/Console/Command/ModuleUnregisterCommand.php
  src/Console/ModuleInstaller.php
Due: composer-validate, composer-normalize, composer-require-checker

feat: add CLI tool for module installation using Symfony Console (#66)
  .composer-require-checker.json
  .github/workflows/composer-require-checker.yml
  CLAUDE.md
  Taskfile.yml
  bin/install-module.php
  composer.json
  docs/development/tooling.md
  src/Console/Command/AbstractModuleCommand.php
  src/Console/Command/ModuleDisableCommand.php
  src/Console/Command/ModuleEnableCommand.php
  src/Console/Command/ModuleInstallCommand.php
  src/Console/Command/ModuleInstallEnableCommand.php
  src/Console/Command/ModuleListCommand.php
  src/Console/Command/ModuleRegisterCommand.php
  src/Console/Command/ModuleUnregisterCommand.php
  src/Console/ModuleInstaller.php
Due: composer-validate, composer-normalize, composer-require-checker

feat: add environment-based configuration mode
  .env.testing.example
  .gitignore
  compose.override.yml.example
  docs/development/docker.md
  public/contact.php
  public/download.php
  public/index.php
  public/webhook.php
  src/Bootstrap.php
  src/ConfigAccessorInterface.php
  src/ConfigFactory.php
  src/EnvironmentConfigAccessor.php
  src/GlobalConfig.php
  src/GlobalsAccessor.php
  tests/Mocks/MockEnvironmentConfigAccessor.php
  tests/Mocks/MockGlobalsAccessor.php
  tests/Unit/BootstrapTest.php
  tests/Unit/ConfigFactoryTest.php
  tests/Unit/EnvironmentConfigAccessorTest.php
  tests/Unit/GlobalConfigTest.php
Due: composer-require-checker

feat: add environment-based configuration mode (#61)
  .env.testing.example
  .gitignore
  compose.override.yml.example
  docs/development/docker.md
  public/contact.php
  public/download.php
  public/index.php
  public/webhook.php
  src/Bootstrap.php
  src/ConfigAccessorInterface.php
  src/ConfigFactory.php
  src/EnvironmentConfigAccessor.php
  src/GlobalConfig.php
  src/GlobalsAccessor.php
  tests/Mocks/MockEnvironmentConfigAccessor.php
  tests/Mocks/MockGlobalsAccessor.php
  tests/Unit/BootstrapTest.php
  tests/Unit/ConfigFactoryTest.php
  tests/Unit/EnvironmentConfigAccessorTest.php
  tests/Unit/GlobalConfigTest.php
Due: composer-require-checker

ci: add workflow_dispatch to release-please
  .github/workflows/release-please.yml
Due: none

ci: add workflow_dispatch to release-please (#69)
  .github/workflows/release-please.yml
Due: none
